//Button override
$input-btn-font-size-sm: 12px;
$input-btn-font-size-lg: 18px;

$btn-border-radius: spacing(0.5);
$btn-border-radius-sm: spacing(0.5);
$btn-border-radius-lg: spacing(0.5);

//Checkbox and radio
$form-check-input-width: spacing(2.5);

//List Item
$list-group-item-padding-y: spacing(1.5);
